#keep-reading-widget {
.book-card {
    display: flex;
    height: 250px;
    background-color: #eff9ea;
    border-radius: 15px;
    padding: 20px;
}

.keep-reading-header {
    display: flex;
    flex-direction: column;

    img {
        height: 70%;
        border-radius: 15px;
    }
}

.book-info {
    margin: 50px;
}
}
