#keep-reading-widget {
.book-card {
    display: flex;
    flex-direction: column;
    background-color: #eff9ea;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    @media(min-width:600px){
        flex-direction: row;
    }
}

.keep-reading-header {
    display: flex;
    flex-direction: column;

    img {
        border-radius: 15px;
        width: 150px;
        height: 200px;
    }
}

.book-info {
    margin: 20px;
    @media(min-width:600px){
        margin: 50px;
    }
}
}
