.mybooks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-categories {
    display: flex;
    flex-direction: column;
    @media(min-width:600px){
        flex-direction: row;
    }
}

.category-card {
    
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    @media(min-width:600px){
        display: flex;
        flex-direction: column;
        margin-right:20px;
        width: 33.33%;
    }
}
.category-card-header {
    font-weight: bold;
}
.green {
    background-color: #eff9ea
}

.yellow {
    background-color: #fff5cf;
}

.blue {
    background-color: #e4f0fe;
}

.pink {
    background-color: rgb(240, 200, 207);
}

.book-img {
    width: 100px;
    height: 100px;
}