.mybooks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book-categories {
    display: flex;
}

.category-card {
    padding: 20px;
    margin-right:20px;
    border-radius: 15px;
    width: 200px;
    height: 100px;
}
.category-card-header {
    font-weight: bold;
}
.green {
    background-color: #eff9ea
}

.yellow {
    background-color: #fff5cf;
}

.blue {
    background-color: #e4f0fe;
}
