.container {
    display: flex;
    height: 100vh;
}

#main-content {
    width: 100%;
    padding:16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    @media(min-width:600px) {
        margin-left:260px;
        padding: 20px;
    }
}
