.container {
    display: flex;
    height: 100vh;
}

#main-content {
    padding:30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    @media(min-width:600px) {
        margin-left:300px;
    }
}

#reading-girl-img {
    width: 200px;
}