/* #eff9ea */
/* #fff5cf */
#sidebar {
    width: 250px;
    background-color: #e4f0fe;
    padding: 30px;

    .nav-item {
        display: flex;
    }
    .sidebar-icon {
        width: 30px;
        margin-right: 20px;
    }

    #logo {
        display: block;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding:0px;
        li {
            padding: 10px;
        }
        a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        }
    }

    img {
        width: 100px;
    }
    #reading-girl-img {
        width: 200px;
        margin-top: 200px;
    }
}