#goal-tab-header {
    display: flex;
    padding: 20px;
    background-color: #FAF9F8;
    border-radius: 15px;
    margin-top: 20px;
    color: #667085;
    .active-goals, .completed-goals, .all-goals {
        margin-right: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;
    }
    .active-tab {
        color: #2583F7
    }
}

.goal-info {
    display: flex;
    flex-direction:row;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 0px 15px 15px 15px;
    margin-top: 20px;
    span {
    display: inline-block;
    margin-bottom: 5px;
}
}

#goal-img-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.goal-img {
    width: 50px;
    height: 50px;
}