.book-card-container {
    display: flex;
    li.book-card {
        list-style: none;
        background-color: #eff9ea;
        padding: 15px;
        border-radius: 15px;
        margin: 5px;
        width:300px
        }
    img {
        height: 250px;
    }
}